$primaryColor: #3498db;
$subColor: #0a1734;
$myGreen: #349856;

.dash-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    width: auto;
    height: auto;
    padding: 0 10px;
}

.dash-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
    transition: background-color 0.6s ease;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

.dash-card:hover {
    outline: none;
    text-decoration: none;
}

.dash-card:active {
    transform: translate(1px, 1px);
}

.card-text {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    border-bottom: 2px solid #349856;
}

.border-blue {
    border-left: 6px solid #3498db;
    transition: all 70ms ease-in-out;
    &:hover {
        border-left: 10px solid #3498db;
    }
}

.border-green {
    border-left: 6px solid #349856;
    transition: all 70ms ease-in-out;
    &:hover {
        border-left: 10px solid #349856;
    }
}

.border-orange {
    border-left: 6px solid #ff8a00;
    transition: all 70ms ease-in-out;
    &:hover {
        border-left: 10px solid #f99d0c;
    }
}

.border-red {
    border-left: 6px solid #ff5733;
    transition: all 70ms ease-in-out;
    &:hover {
        border-left: 10px solid #ff5733;
    }
}

.quick-info {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    width: auto;
    height: auto;
    padding: 0 20px;
    margin-top: 20px;

    .quick-info-card {
        background-color: #0a1734;
        border-radius: 10px;
        box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        height: auto;

        .header {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: #ffffff;
            padding-top: 10px;
            border-bottom: 2px solid #349856;

            small {
                font-size: 0.8rem;
                margin: 0;
            }
        }

        .body {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 355px;
            overflow-x: hidden;
            overflow-y: auto;

            .stats {
                margin: 0.45rem 0 0;
                display: grid;
                grid-template-columns: 70px 1fr;
                align-items: center;
                position: relative;
                width: 100%;
                height: auto;
                border-radius: 5px;

                &:hover {
                    background-color: #172b57;
                }

                .number {
                    background-color: #ffffff;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // position: relative;
                    // box-sizing: border-box;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin: 18px 20px;

                    h2 {
                        color: #349856;
                    }
                }

                .half-circle {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 60px;
                    height: 48px;
                    fill: none;
                    stroke: #ff8a00;
                    stroke-width: 8;
                    stroke-linecap: round;
                    pointer-events: none;
                    margin-left: 10px;
                }

                .num-content {
                    grid-area: auto;
                    box-sizing: border-box;
                    color: #ffffff;
                    font-size: 1.2rem;
                    margin-left: 10px;
                }
            }
        }

        a {
            text-decoration: none;
            color: white;
        }
    }

    .body::-webkit-scrollbar {
        width: 0.5rem;
        padding: 0.5rem;
    }

    .body::-webkit-scrollbar-track {
        background: $subColor;
        border-bottom-right-radius: 10px;
    }

    .body::-webkit-scrollbar-thumb {
        background: #ff8a00;
        border-radius: 5px;
    }

    table {
        width: 300px;
    }
}
