$primaryColor: #3498db;
$subColor: #0a1734;
$myGreen: #349856;

.navbar {
    background-color: $subColor;
}

h2[id="page_title"] {
    color: white;
}

.sidenav {
    z-index: 10;
    top: 4rem;
    left: -16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 16rem;
    position: fixed;
    background-color: $subColor;
    cursor: pointer;
    transition: all 600ms ease-in-out;
    overflow-x: hidden;
    overflow-y: auto;

    .sidenav-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 70%;

        .nav-item {
            border-bottom: 1px solid $myGreen;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: all 1000ms ease;

            .nav-link {
                display: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                height: 5rem;
                font-size: 1.2rem;
                color: $primaryColor;
                text-decoration: none;
                transition: 1000ms ease;

                &:hover {
                    transition: 600ms ease;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

.sidenav::-webkit-scrollbar {
    width: 0.5rem;
    padding: 0.5rem;
}

.sidenav::-webkit-scrollbar-track {
    background: #0a1734;
}

.sidenav::-webkit-scrollbar-thumb {
    background: #3498db;
    border-radius: 10px;
}

.sidenav {
    overflow-y: scroll;
    scrollbar-color: #3498db #0a1734;
    scrollbar-width: thin;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    cursor: pointer;
    transition: all 600ms ease-in-out;
    //border: 3px solid #ffffff;

    .menu-btn_burger {
        width: 50px;
        height: 6px;
        background: $primaryColor;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: 600ms ease-in-out;
    }

    .menu-btn_burger::before,
    .menu-btn_burger::after {
        content: "";
        position: absolute;
        width: 50px;
        height: 6px;
        background: $primaryColor;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: 600ms ease-in-out;
    }

    .menu-btn_burger::before {
        transform: translateY(-16px);
    }
    .menu-btn_burger::after {
        transform: translateY(16px);
    }
}

//animation
.sidenav.open {
    border-right: 2px solid #ffffff;
    left: 0;
}

.menu-btn.open {
    .menu-btn_text {
        display: flex;
    }
    .menu-btn_burger {
        //transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
    }
    .menu-btn_burger::before {
        transform: rotate(45deg);
        transform: translateX(35px, -35px);
    }
    .menu-btn_burger::after {
        transform: rotate(-45deg);
        transform: translateX(35px, 35px);
    }
}
