.stream-selector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    button {
        margin-right: 20px;
        width: 120px;
        outline: none;
        color: #ffffff;
        font-size: 1rem;
        background-color: #0a1734;
        padding: 5px;
        border: solid #0a1734;
        border-radius: 5px;
        box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.75);
        &:active {
            transform: translate(1px, 1px);
        }
    }
}
.stream {
    // border: 2px solid #3498db;
    height: auto;

    .stream-title {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.east {
    display: none;
}
.west {
    display: none;
}

.title {
    border-bottom: 2px soild #349856;
}

.results {
    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 5px;
        //border: 2px solid #3498db;

        form {
            display: flex;
            flex-direction: row;
            align-items: center;
            //justify-content: center;
            //border: 2px solid #349878;

            input[type="search"] {
                border: 1.5px solid $subColor;
                border-radius: 5px;
                width: 300px;
                padding: 5px;
                margin-right: 5px;
                outline: none;
            }
            input[type="submit"] {
                width: 100px;
                padding: 5px;
                color: #ffffff;
                border-radius: 20px;
                background-color: #ff8a0e;
                border: 1px solid #ff8a0e;
                outline: none;
                box-shadow: 0px 2px 4px 1px rgba(148, 151, 156, 1);

                &:active {
                    transform: translate(1px, 1px);
                }
            }
        }
    }

    table th {
        border: 1.5px solid $subColor;
    }
    table td {
        border: 1.5px solid $subColor;
    }
}

.actions {
    border: 1px solid #0a1734;
    background-color: #0a1734;
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 3px;
    color: #ffffff;
    width: 70px;

    a {
        text-decoration: none;
        color: #ffffff;
    }

    &:hover {
        color: #3498db;
        a {
            color: #3498db;
        }
    }
}
